@keyframes fuzz-fade{
	0% {text-shadow:0px 0px 0px #0f0f0f;color:#0f0f0f;}
	4.99% {text-shadow:0px 0px 0px #0f0f0f;color:#0f0f0f;}
	5%    {text-shadow:0px 5px 40px #ff6ec7;}
	5.99% {text-shadow:0px 5px 40px #ff6ec7;}
	6%    {text-shadow:0px 0px 0px #0f0f0f;color:#0f0f0f;}

	10.99% {text-shadow:0px 0px 0px #0f0f0f;color:#0f0f0f;}
	11%    {text-shadow:0px 5px 40px #ff6ec7;}
	11.99% {text-shadow:0px 5px 40px #ff6ec7;}
	12%    {text-shadow:0px 0px 0px #0f0f0f;color:#0f0f0f;}

	13.99% {text-shadow:0px 0px 0px #0f0f0f;color:#0f0f0f;}
	14%    {text-shadow:0px 5px 40px #ff6ec7;}
	14.99% {text-shadow:0px 5px 40px #ff6ec7;}
	15%    {text-shadow:0px 0px 0px #0f0f0f;color:#0f0f0f;}
	25% {text-shadow:0px 0px 0px #0f0f0f;color:#0f0f0f;}

	95%    {text-shadow:0 0 5px white,0 0 9px white,0 5px 10px #ff6ec7,0 5px 23px #ff6ec7,0 5px 37px #ff6ec7,0 5px 76px #ff6ec7,0 5px 100px #ff6ec7,0 5px 150px #ff6ec7,0 5px 200px #ff6ec7;}
	95.99% {text-shadow:0 0 5px white,0 0 9px white,0 5px 10px #ff6ec7,0 5px 23px #ff6ec7,0 5px 37px #ff6ec7,0 5px 76px #ff6ec7,0 5px 100px #ff6ec7,0 5px 150px #ff6ec7,0 5px 200px #ff6ec7;}
	96%    {text-shadow:0 0 5px white,0px 5px 10px #ff6ec7,0px 5px 23px #ff6ec7}
	96.99% {text-shadow:0 0 5px white,0px 5px 10px #ff6ec7,0px 5px 23px #ff6ec7}
	97%    {text-shadow:0 0 5px white,0 0 9px white,0 5px 10px #ff6ec7,0 5px 23px #ff6ec7,0 5px 37px #ff6ec7,0 5px 76px #ff6ec7,0 5px 100px #ff6ec7,0 5px 150px #ff6ec7,0 5px 200px #ff6ec7;}

	98%    {text-shadow:0 0 5px white,0 0 9px white,0 5px 10px #ff6ec7,0 5px 23px #ff6ec7,0 5px 37px #ff6ec7,0 5px 76px #ff6ec7,0 5px 100px #ff6ec7,0 5px 150px #ff6ec7,0 5px 200px #ff6ec7;}
	98.99% {text-shadow:0 0 5px white,0 0 9px white,0 5px 10px #ff6ec7,0 5px 23px #ff6ec7,0 5px 37px #ff6ec7,0 5px 76px #ff6ec7,0 5px 100px #ff6ec7,0 5px 150px #ff6ec7,0 5px 200px #ff6ec7;}
	99%    {text-shadow:0 0 5px white,0px 5px 10px #ff6ec7,0px 5px 23px #ff6ec7}
	99.99% {text-shadow:0 0 5px white,0px 5px 10px #ff6ec7,0px 5px 23px #ff6ec7}
	100%   {text-shadow:0 0 5px white,0 0 9px white,0 5px 10px #ff6ec7,0 5px 23px #ff6ec7,0 5px 37px #FF6EC7,0 5px 76px #ff6ec7,0 5px 100px #ff6ec7,0 5px 150px #ff6ec7,0 5px 200px #ff6ec7;}
}

@keyframes fade-in-black{
	0% {opacity:0;}
	25% {opacity:0;}
	90% {opacity:0.75;}
	100% {opacity:0.9;}
}

@keyframes fade-in{
	0% {opacity:0;}
	100% {opacity:1;}
}

@keyframes blink-twice{
	0% {opacity:1;}

	79.99% {opacity:1;}
	80% {opacity:0;}
	81.99% {opacity:0;}
	82% {opacity:1;}

	97.99% {opacity:1;}
	98% {opacity:0;}
	99.99% {opacity:0;}
	100% {opacity:1;}
}
